*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #A67C52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.logo{
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.buttons{
    display: inline-block;
}

.sec-2{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sec-1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    height: 35px;
    width: 500px;
    padding: 0 15px;
    border-radius:5px;
    border: 0px;
    color: rgb(114, 112, 112);
}

.i{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 5px;
    transition: all 0.25s;
}

.i:hover, i:hover{
    color: beige;
}

.buttons:hover{
    cursor: pointer;
}

i{
    margin-right: 10px;
    font-size: 23px;
    color: #ffffff;
    transition: all 0.25s;
}

.buttons{
    border-right: 1px white solid;
    margin-right: 40px;
    padding-right: 20px;
}

#last-button{
    border: none;
    margin-right: 0;
    padding-right: 0;
}

.log-in{
    height: 30px;
    width: 80px;
    border: 1px white solid;
    color: white;
    background-color: #A67C52;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.25s;
}

.log-in:hover{
    cursor: pointer;
    color: #A67C52;
    background-color: white;
}

.sign-up{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: #A67C52;
    border: 0px;
    transition: all 0.25s;
}

.sign-up:hover{
    cursor: pointer;
    color: white;
    background-color: #A67C52;
    border: 1px white solid;
    border-radius: 5px;
}

.sub-header{
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding: 30px 5px;
    gap: 130px;
}

.sub-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sub-header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-header-text{
    font-size: 1.2em;
    font-weight: bold;
}

a:active {
    background-color: #A67C52;
  }

.sub-header-text:hover{
    color: #A67C52;
    
}

.sub-header{
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding: 30px 5px;
    gap: 130px;
}

.sub-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sub-header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-header-text{
    font-size: 1.2em;
    font-weight: bold;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30%;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 30px;
    padding: 10px 0px;
    position: relative;
}

.box img{
    width: 350px;
}

.box p{
    font-size: 1.2em;
    align-self: flex-start;
    margin-left: 40px;
}

.box i{
    color: #A67C52;
    margin-right: 0px;
    position: absolute;
    font-size: 35px;
    right: 15px;
    bottom: 15px;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
}

.del{
    background-color: rgba(255, 0, 0, 0.171);
    padding: 5px 7px;
}

.price{
    color: #A67C52;
    font-size: 1.3em;
}

.Recommended{
    margin: 30px 0px -20px 40px;
    padding: 0;
    font-size: 1.1em;
    color: rgb(43, 43, 43);
}

.add{
    align-self: flex-end;
}

#price{
    align-self: center;
    margin-left: -5px;
    margin-bottom: 60px;
}

@media screen and (min-width: 1441px) {
    .box p{
        font-size: 1.2em;
        align-self: flex-start;
        margin-left: 65px;
    }
}

@media screen and (min-width: 1025px) {
    .box p{
        font-size: 23px;
    }
    .price{
        font-size: 32px;
    }
}

@media screen and (max-width: 1308px) {
    .box img{
        width: 300px;
    }
}

@media screen and (max-width: 1123px) {
    .box img{
        width: 250px;
    }
}

@media screen and (max-width: 936px) {
    .box img{
        width: 225px;
    }
}

@media screen and (max-width: 936px) {
    .box img{
        width: 210px;
    }
}

@media screen and (max-width: 800px) {
    .box{
        width: 45%;
    }

    .box img{
        width: 260px;
    }
}

@media screen and (max-width: 754px) {
    .sub-header{
        gap: 110px;
    }
}

@media screen and (max-width: 714px) {
    .sub-header{
        gap: 90px;
    }

    .sub-header-text{
        font-size: 1.2em;
    }

    .sub-img{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 667px) {
    .box img{
        width: 230px;
    }
}

@media screen and (max-width: 585px) {
    .box img{
        width: 200px;
    }
}

@media screen and (max-width: 574px){
    .sub-header{
        gap: 80px;
    }

    .sub-header-text{
        font-size: 1.1em;
    }

    .sub-img{
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 528px){
    .sub-header{
        gap: 70px;
    }

    .sub-header-text{
        font-size: 1.1em;
    }

    .sub-img{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 514px){
    .box{
        width: 80%;
    }
    .box img{
        width: 260px;
    }
}

@media screen and (max-width: 462px){
    .sub-header{
        gap: 60px;
    }

    .sub-header-text{
        font-size: 1.05em;
    }

    .sub-img{
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 420px){
    .sub-header{
        padding: 20px 5px;
    }
}

@media screen and (max-width: 414px){
    .sub-header{
        gap: 50px;
    }

    .sub-header-text{
        font-size: 1em;
    }

    .sub-img{
        width: 62px;
        height: 62px;
    }
}

@media screen and (max-width: 371px){
    .box img{
        width: 230px;
    }
}

@media screen and (max-width: 362px){
    .sub-header{
        gap: 42px;
    }

    .sub-header-text{
        font-size: 0.95em;
    }

    .sub-img{
        width: 58px;
        height: 58px;
    }
}

@media screen and (max-width: 350px){
    .buttons{
        display: flex;
        justify-content: center;
    }
    .box p{
        align-self: center;
        margin-left: 0;
    }
}

@media screen and (max-width: 331px){
    .box img{
        width: 200px;
    }
}

@media screen and (max-width: 300px){
    .box{
        width: 90%;
    }
}


/*Header*/
@media screen and (max-width: 782px) {
    header{
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-1, .sec-2{
        width: 100%;
    }

    .sec-1{
        margin-bottom: 15px;
        justify-content: center;
    }

    .sec-2{
        justify-content: center;
    }
}

@media screen and (max-width: 470px){
    .i{
        color: white;
        text-decoration: none;
        font-size: 1em;
    }
    
    i{
        margin-right: 5px;
        font-size: 1em;
    }

    .log-in, .sign-up{
        height: 25px;
        width: 70px;
    }
}

@media screen and (max-width: 754px) {
    .sub-header{
        gap: 110px;
    }
}

@media screen and (max-width: 714px) {
    .sub-header{
        gap: 90px;
    }

    .sub-header-text{
        font-size: 1.2em;
    }

    .sub-img{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 574px){
    .sub-header{
        gap: 80px;
    }

    .sub-header-text{
        font-size: 1.1em;
    }

    .sub-img{
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 528px){
    .sub-header{
        gap: 70px;
    }

    .sub-header-text{
        font-size: 1.1em;
    }

    .sub-img{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 462px){
    .sub-header{
        gap: 60px;
    }

    .sub-header-text{
        font-size: 1.05em;
    }

    .sub-img{
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 420px){
    .sub-header{
        padding: 20px 5px;
    }
}



@media screen and (max-width: 415px){
    .buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 20px;
        margin-right: 10px;
    }
    .log-in{
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .i{
        margin-bottom: 5px;
    }
    i{
        margin-right: 5px;
        font-size: 1.2em;
    }
    .sub-header{
        gap: 50px;
    }

    .sub-header-text{
        font-size: 1em;
    }

    .sub-img{
        width: 62px;
        height: 62px;
    }
}

@media screen and (max-width: 362px){
    .sub-header{
        gap: 42px;
    }

    .sub-header-text{
        font-size: 0.95em;
    }

    .sub-img{
        width: 58px;
        height: 58px;
    }
}

@media screen and (max-width: 358px){
    .log-in{
        margin-right: 0px;
    }
}



































  /*  تنسيقات عامة  */
  
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* حاوية عرض الصور */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* أزرار التحكم*/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* موقع أزرار التحكم الجانبية */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* إضافة تأثيرات لونية على الأزرار */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* تنسيق النص */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* تأثير التحرك */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 30.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* تنسيق للشاشات الصغيرة */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

















