*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #A67C52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.logo{
    height: 45px;
    border-radius: 30%;
    margin-right: 15px;
}

.buttons{
    display: inline-block;
}

.sec-2{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sec-1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    height: 35px;
    width: 500px;
    padding: 0 15px;
    border-radius:5px;
    border: 0px;
    color: rgb(114, 112, 112);
}

.i{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 5px;
    transition: all 0.25s;
}

.i:hover, i:hover{
    color: beige;
}

.buttons:hover{
    cursor: pointer;
}

i{
    margin-right: 10px;
    font-size: 23px;
    color: #ffffff;
    transition: all 0.25s;
}

.buttons{
    border-right: 1px white solid;
    margin-right: 40px;
    padding-right: 20px;
}

#last-button{
    border: none;
    margin-right: 0;
    padding-right: 0;
}
#account-drop-list{
    color: white;
    border: 0px;
}
#ul-dropdowen{
    text-align: center;
}
#myaccount{
    color: black;
    font-weight: 500;
    background-color: white;
}
#logout{
    color: black;
    margin-top: 10px;
    width: 45%;
    height: 30px;
    background-color: #A67C52;
    border: 0px;
    border-radius: 5px;
    font-weight: 500;
    margin-bottom: 10px;
}
.text-payment{
    text-align: center;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}
.sec-total{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 270px;
}
.text-total{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    
}
.text-price{
    color: #F00;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.button-cash{
width: 240px;
height: 48px;
margin-left: 50px;
border: 0px;
border-radius: 12px;
color: #ffffff;
font-weight: 600;
font-size: 20px;
background-color: #D9D9D9;;
}
.button-visa{
    width: 240px;
    height: 48px;
    border: 0px;
    border-radius: 12px;
    background-color:#A67C52;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px; 
}
.inputs{
    text-align: center;
    margin-top: 50px;
}
.input{
    padding: 10px;
    width: 480px;
    border: 1px solid;
    border-radius: 12px;
}
.input-visa{
    padding: 10px;
    border: 1px solid;
    border-radius: 12px;
    margin-left: 50px;
    margin-right: 55px;
}
.confirm-payment{
    width: 480px;
    padding: 10px;
    border: 0px;
    background-color: #A67C52;
    font-weight: 600;
    color: #ffffff;
    border-radius: 12px;
    margin-bottom: 50px;
}
@media screen and (max-width:611px){
    .sec-total{
        gap: 100px;
    }
    .button-visa{
        margin-left: 50px;
    }
    .input{
        width: 300px;
    }
    .confirm-payment{
        width: 300px;
    }
    .input-visa{
        width: 140px;
        margin-left: 10px;
        margin-right: 0px;
    }
}




























/*header*/
@media screen and (max-width: 782px) {
    header{
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-1, .sec-2{
        width: 100%;
    }

    .sec-1{
        margin-bottom: 15px;
        justify-content: center;
    }

    .sec-2{
        justify-content: center;
    }
}

@media screen and (max-width: 470px){
    .i{
        color: white;
        text-decoration: none;
        font-size: 1em;
    }
    
    i{
        margin-right: 5px;
        font-size: 1em;
    }

    .log-in, .sign-up{
        height: 25px;
        width: 70px;
    }
}

@media screen and (max-width: 754px) {
    .sub-header{
        gap: 110px;
    }
}

@media screen and (max-width: 714px) {
    .sub-header{
        gap: 90px;
    }

    .sub-header-text{
        font-size: 1.2em;
    }

    .sub-img{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 574px){
    .sub-header{
        gap: 80px;
    }

    .sub-header-text{
        font-size: 1.1em;
    }

    .sub-img{
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 528px){
    .sub-header{
        gap: 70px;
    }

    .sub-header-text{
        font-size: 1.1em;
    }

    .sub-img{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 462px){
    .sub-header{
        gap: 60px;
    }

    .sub-header-text{
        font-size: 1.05em;
    }

    .sub-img{
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 420px){
    .sub-header{
        padding: 20px 5px;
    }
}
@media screen and (max-width: 415px){
    .buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 20px;
        margin-right: 10px;
    }
    .log-in{
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .i{
        margin-bottom: 5px;
    }
    i{
        margin-right: 5px;
        font-size: 1.2em;
    }
    .sub-header{
        gap: 50px;
    }

    .sub-header-text{
        font-size: 1em;
    }

    .sub-img{
        width: 62px;
        height: 62px;
    }
}

@media screen and (max-width: 362px){
    .sub-header{
        gap: 42px;
    }

    .sub-header-text{
        font-size: 0.95em;
    }

    .sub-img{
        width: 58px;
        height: 58px;
    }
}

@media screen and (max-width: 358px){
    .log-in{
        margin-right: 0px;
    }
}

